# obsidian
.obsidian/appearence.json
.obsidian/hotkeys.json
.obsidian/workspace.json
.obsidain/themes

# jupyter notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# data
lectures/*/*/data/*


lectures/3.1_data_processing/exercises/__pycache__/
__pycache__/

# example explorer build
_data
_build
notebooks.json